@{
    ViewBag.Title = "TestAddQianhuo";
}

<h2>手动添加欠货处理</h2>

<input type="button" value="添加欠货" id="btnsave" />

<script type="text/javascript">
    
  
      //保存
     $("#btnsave").click(function(){
        
         
            $.ajax({
                cache: true,
                type: "POST",
                datatype:"json",
                url: "@Url.Content("~/CashManage/Addqianhuo")",
                 
                async: false,
                error: function (request) {
                    alert("哎哟、出错了！");
                },
                success: function (data) {
                 if(data>0){
                        alert("添加成功！");
                        
                   }
                }
            });
     });
</script>