<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration, Version=1.2.0.0,Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <cachingConfiguration defaultCacheManager="Default Cache Manager">
    <!--定义存储区域-->
    <backingStores>
      <add name="inMemory" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching"/>
      <add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="IDCardNullStorage"/>
    </backingStores>
    <cacheManagers>
      <!--定义存储-->
      <add name="Default Cache Manager" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="inMemory"/>
      <add name="Loading Scenario Cache Manager" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="inMemory"/>
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="2000000" numberToRemoveWhenScavenging="1000" backingStoreName="IDCardNullStorage" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="SystemManageCache"/>
    </cacheManagers>
  </cachingConfiguration>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="Log\EYB.txt" footer="----------------------------------------" formatter="Text Formatter" rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="10240" timeStampPattern="yyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Rolling Flat File Trace Listener"/>
    </listeners>
    <formatters>
      <add template="时间: {timestamp} 类型: {severity} 标题: {title} 内容: {message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Text Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="Debug"/>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings"/>
    </specialSources>
  </loggingConfiguration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="TRACKTYPE" value="LogFile"/>
    <add key="IP" value="12076247195"/>
    <!--上传图片绝对路径-->
    <add key="UploadImgPath" value="D:\HeYi\EYBWeb"/>
    <!--读取图片地址-->
    <add key="ImgPath" value="http://hy.heyisoftware.net/"/>
    <!--消费单据详情-->
    <add key="OrderDetailUrl" value="http://www.heyisoftware.net/t/"/>
    <!--点评-->
    <add key="DianpingUrl" value="http://www.heyisoftware.net/d/"/>
    <!--新客版本  1：120版本  2：合益版本-->
    <!--<add key="NewKeVersion" value="1" />-->
    <add key="NewKeVersion" value="2"/>
    <!--还款单据审核是否弹出 1：是  2：否-->
    <add key="RepaymentAudit" value="1"/>
    <!--是否可修改 1：是  2：否-->
    <add key="IsModify" value="1"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="YmSoft" providerName="System.Data.SqlClient" connectionString="Database=Ymsoft_NewTest;Server=47.99.170.3;uid=heyi;pwd=gaole2018!@#$%^" /> 暂时不用-->
    <!--<add name="YmSoft" providerName="System.Data.SqlClient" connectionString="Database=Ymsoft;Server=.;uid=sa;pwd=l1231578" />-->
    <add name="YmSoft" providerName="System.Data.SqlClient" connectionString="Database=Ymsoft;Server=192.168.10.12;uid=sa;pwd=123456"/>
    <!--<add name="YmSoft" providerName="System.Data.SqlClient" connectionString="Database=Ymsoft;Server=192.168.0.155;uid=sa;pwd=heyi2020^%$#@!" />-->
    <!--<add name="YmSoft" providerName="System.Data.SqlClient" connectionString="Database=Ymsoft;Server=123.57.65.80;uid=sa;pwd=mingxun2020^%$#@!" />-->
  </connectionStrings>
  <system.web>
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" timeout="180"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880"/>
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <!--<httpRuntime  maxQueryStringLength="102400"/>-->
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <httpRedirect enabled="false" destination="https://hy.heyisoftware.net"/>
  </system.webServer>
  <!--注入依赖配置-->
  <unity>
    <containers>
      <container>
        <types>
          <!--部门管理配置-->
          <type type="DepartmentManage.Factory.IBLL.IDepartmentManageBLL,DepartmentManageFactory" mapTo="DepartmentManage.BLL.DepartmentManageBLL,DepartmentManageBLL"/>
          <type type="DepartmentManage.Factory.IDAL.IDepartmentManageDAL,DepartmentManageFactory" mapTo="DepartmentManage.DAL.DepartmentManageDAL,DepartmentManageDAL"/>
          <!--顾客管理配置-->
          <type type="PatientManage.Factory.IBLL.IPatientManageBLL,PatientManageFactory" mapTo="PatientManage.BLL.PatientManageBLL,PatientManageBLL"/>
          <type type="PatientManage.Factory.IDAL.IPatientManageDAL,PatientManageFactory" mapTo="PatientManage.DAL.PatientManageDAL,PatientManageDAL"/>
          <!--员工管理配置-->
          <type type="PersonnelManage.Factory.IBLL.IPersonnelManageBLL,PersonnelManageFactory" mapTo="PersonnelManage.BLL.PersonnelManageBLL,PersonnelManageBLL"/>
          <type type="PersonnelManage.Factory.IDAL.IPersonnelManageDAL,PersonnelManageFactory" mapTo="PersonnelManage.DAL.PersonnelManageDAL,PersonnelManageDAL"/>
          <!--预约管理配置-->
          <type type="ReservationDoctorManage.Factory.IBLL.IReservationDoctorManageBLL,ReservationDoctorManageFactory" mapTo="ReservationDoctorManage.BLL.ReservationDoctorManageBLL,ReservationDoctorManageBLL"/>
          <type type="ReservationDoctorManage.Factory.IDAL.IReservationDoctorManageDAL,ReservationDoctorManageFactory" mapTo="ReservationDoctorManage.DAL.ReservationDoctorManageDAL,ReservationDoctorManageDAL"/>
          <!--系统管理配置-->
          <type type="SystemManage.Factory.IBLL.ISystemManageBLL,SystemManageFactory" mapTo="SystemManage.BLL.SystemManageBLL,SystemManageBLL"/>
          <type type="SystemManage.Factory.IDAL.ISystemManageDAL,SystemManageFactory" mapTo="SystemManage.DAL.SystemManageDAL,SystemManageDAL"/>
          <!--基础信息基本配置-->
          <type type="BaseinfoManage.Factory.IBLL.IBaseinfoBLL,BaseinfoManageFactory" mapTo="BaseinfoManage.BLL.BaseinfoBLL,BaseinfoManageBLL"/>
          <type type="BaseinfoManage.Factory.IDAL.IBaseinfoDAL,BaseinfoManageFactory" mapTo="BaseinfoManage.DAL.BaseinfoDAL,BaseinfoManageDAL"/>
          <!--仓库管理配置-->
          <type type="WarehouseManage.Factory.IBLL.IWarehouseManageBLL,WarehouseManageFactory" mapTo="WarehouseManage.BLL.WarehouseManageBLL,WarehouseManageBLL"/>
          <type type="WarehouseManage.Factory.IDAL.IWarehouseManageDAL,WarehouseManageFactory" mapTo="WarehouseManage.DAL.WarehouseManageDAL,WarehouseManageDAL"/>
          <!--收银管理配置-->
          <type type="CashManage.Factory.IBLL.ICashManageBLL,CashManageFactory" mapTo="CashManage.BLL.CashManageBLL,CashManageBLL"/>
          <type type="CashManage.Factory.IDAL.ICashManageDAL,CashManageFactory" mapTo="CashManage.DAL.CashManageDAL,CashManageDAL"/>
          <!--管理中心配置-->
          <type type="CenterManage.Factory.IBLL.ICenterManageBLL,CenterManageFactory" mapTo="CenterManage.BLL.CenterManageBLL,CenterManageBLL"/>
          <type type="CenterManage.Factory.IDAL.ICenterManageDAL,CenterManageFactory" mapTo="CenterManage.DAL.CenterManageDAL,CenterManageDAL"/>
        </types>
      </container>
    </containers>
  </unity>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: B77B6F28-7A1B-4763-A839-AAC427FFD81E-->