
@{
    Layout = null;
  }

<html> 
<head> 
<style> 
body{TEXT-ALIGN: center;} 
#center{ MARGIN-RIGHT: auto; 
MARGIN-LEFT: auto; 
margin-top:150px;
height:80px; 
background:#FFF; 
width:380px; 
vertical-align:middle; 
line-height:80px; 
} 
</style> 
</head> 
<body > 
<div id="center">
 <div style="width:80px; float:left">
  <img src="../../Content/themes/images/500.gif" />
 </div>
  <div style="width:300px; float:left ; line-height:80px; font-weight:bold; font-size:16px" >
    呜。。无法请求数据，点击"<a href="@Url.Content("/Home/Index")">返回</a>"！
  </div> 
</div> 
</body> 
</html>



