@using Webdiyer.WebControls.Mvc;
@using HS.SupportComponents;
@{
    ViewBag.Title = "资产负债";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
<div id="mainContentBody">
    @Html.Partial("_MoneyControl")
    <div id="mainContentRight">
        <form action="" method="post" class="clearfix" name="myform" id="myform">
        <div class="mainContentRight_top">
            <label class="Soliddots">
                ●</label>
            资产负债 
        </div>
        <div class="mainContentRight_bottom clearfix">
           
        </div>
        </form>
    </div>
</div>

